.buttonone {
    float: left;
    position: absolute;
    right: 50%;
}

.buttontwo {
    float: right;
    position: absolute;
    left: 50%
}

.placelri {
    float: right;
}

.placeleftbuttonleft {
    margin-right: 3%;
    margin-left: 10%;
}

.parent {
    position: relative;
}

.midelementspic {
    position: absolute;
    top: 40%;
    transform: translateY(30px);
    transform: translateX(-9%);
}

.secondparent {
    position: relative;
}

.fortextbox {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    transform: translateX(250%);
    left: 1%
}

.thirdparent {
    position: relative;
}

.forbuttons {
    position: absolute;
    top: 70%;
    transform: translateY(-80%);
    transform: translateX(-40%);
}

.ul {
    list-style-type: none;
}

.anothernav {
    float: left;
    transform: translateY(450px);
    background-color: rgb(172, 174, 177);
}

.thirdnavbar {
    float: left;
    transform: translateY(500px);
    margin-left: 5%;
}

.gobotright {
    transform: translateY(500px);
    margin-left: 5%;
}

.buttonthree {
    transform: translateX(250px);
}