.buttonone {
    float: left;
    position: absolute;
    right: 50%;
}

.buttontwo {
    float: right;
    position: absolute;
    left: 50%
}

.placelri {
    float: right;
}

.placeleftbuttonleft {
    margin-right: 3%;
}

.parent {
    position: relative;
}

.midelementspic {
    position: absolute;
    top: 40%;
    transform: translateY(30px);
    transform: translateX(-40%);
}

.secondparent {
    position: relative;
}

.fortextbox {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    transform: translateX(245%);
}

.thirdparent {
    position: relative;
}

.forbuttons {
    position: absolute;
    top: 70%;
    transform: translateY(-80%);
    transform: translateX(-40%);
}

.ul {
    list-style-type: none;
}

.anothernav {
    float: left;
    transform: translateY(450px);
}

.thirdnavbar {
    float: left;
    transform: translateY(500px);
}