.buttonone {
    float: left;
    position: absolute;
    right: 50%;
}

.buttontwo {
    float: right;
    position: absolute;
    left: 50%
}

.placelri {
    float: right;
}

.parent{
    position: relative;
}
.midelementspic{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    margin-right: 20%;   
}
.secondparent{
    position: relative;
}
.fortextbox{
position: absolute;
top:60%;
transform:translateY(-70%);


}
.thirdparent{
    position: relative;
}
.forbuttons{
    position: absolute;
    top:70%;
    transform:translateY(-80%);
    

}